body{
	overflow: hidden;
}
.one{
	background-color: #FF530D;
	min-height: 100vh;
}

.two{
	background-color: #162D8C;
	height: 100vh;
	/*overflow: hidden;*/
}

.three{
	background-color: #231F20;
	height: 100vh;
}

p{
	display: none;
}